<!-- Author: Sam -->
<%= form_for @user do |f| %>

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>

  <% if @user && @user.roles != 0 %>
  <div class="field">
    <%= f.label :roles %><br />
    <%= f.select :roles, [['I am a realtor', 1], ['I am shopping for a house', 2],
                                 ['I am a realtor and I am shopping for a house', 3]] %>
  </div>
    <% end %>

  <div class="field">
    <%= f.label :phone_number %><br />
    <%= f.text_field :phone_number %>
  </div>

  <div class="field">
    <%= f.label :preferred_contact_method %><br />
    <%= f.select :preferred_contact_method, ['Text', 'Phone Call', 'Email'] %>
  </div><br />

  <div class="actions">
    <%= f.submit %>
  </div><br />
<% end %>