<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Username' %><br/>
    <%= f.text_field :name, class: 'form-control', required: true %>
  </div>

  <div class="field">
    <%= f.label 'Email Addess' %><br/>
    <%= f.email_field :email, class: 'form-control', required: true %>
  </div>

  <div class="field">
    <%= f.label 'Password' %><br/>
    <%= f.password_field :password, class: 'form-control', required: true %>
  </div>

  <!--  <div class="field">-->
  <!--    <%#= f.label 'Confirm Password' %><br/>-->
  <%#= f.password_field :confirm_password %>
  <!--  </div>-->

  <!--  <div class="field">-->
  <!--    <%#= f.label 'Phone Number' %><br/>-->
  <%#= f.text_field :phone_no %>
  <!--  </div>-->

  <div class="field">
    <%= f.label :roles %><br/>
    <%= f.select :roles, User.roles.keys %>
  </div>

  <div class="actions" style="margin-top: 20px">
    <%= f.submit "SIGN UP", class: "btn btn-outline-secondary btn-block" %>
  </div>
<% end %>