<!-- Author: Sam -->
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Roles:</b>
  <!-- remember to turn these into strings-->
  <%= @user.roles%>
</p>

<%= @user.company_id %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', home_path %>