<h1>View Real Estate Company</h1>
<p>
  <b>Name:</b>
  <%= @real_estate_company.name %>
</p>

<p>
  <b>Website:</b>
  <%= @real_estate_company.website %>
</p>

<p>
  <b>Location:</b>
  <%= @real_estate_company.address%>
</p>
<p>
  <b>Size:</b>
  <%= @real_estate_company.size%>
</p>
<p>
  <b>Year Founded:</b>
  <%= @real_estate_company.founded%>
</p>
<p>
  <b>Revenue:</b>
  <%= @real_estate_company.revenue%>
</p>
<p>
  <b>Description:</b>
  <%= @real_estate_company.synopsis%>
</p>

<%= link_to 'Back', home_path %>