<!-- Author: Ameya -->
<div class="container" style="margin-left: 10px">
  <p id="notice"><%= notice %></p>

  <p>
    <b>Location:</b>
    <%= @house.location %>
  </p>

  <p>
    <strong>House owner:</strong>
    <%= @house.owner %>
  </p>

  <p>
    <b>List Price:</b>
    <%= @house.price %>
  </p>

  <p>
    <b>Year Built:</b>
    <%= @house.year %>
  </p>

  <p>
    <b>Number of Floors:</b>
    <%= @house.floors %>
  </p>

  <p>
    <b>Style:</b>
    <%= @house.style %>
  </p>

  <p>
    <b>Basement:</b>
    <%= @house.basement %>
  </p>


  <p>
    <b>Square Footage:</b>
    <%= @house.square_footage %>
  </p>

  <!-- If posting realtor -->
  <%= link_to 'Edit this inquiry', edit_inquiry_path %> |
  <!-- If house hunter -->
  <%= link_to 'Inquire about this House', new_inquiry_path %>

  <%= link_to 'List Houses', houses_path %>

</div>